nodered/nodered_flow.json
[
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "flow1",
    "name": "ESP32 Data",
    "topic": "sniffer/data",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 140,
    "y": 100,
    "wires": [["function_parser"]]
  },
  {
    "id": "function_parser",
    "type": "function",
    "z": "flow1",
    "name": "Parse Snapshot Array",
    "func": "let outputMessages = [];\n\nmsg.payload.forEach(snapshot => {\n    outputMessages.push({ topic: \"wifiCount\", payload: snapshot.wifiCount });\n    outputMessages.push({ topic: \"btCount\", payload: snapshot.btCount });\n    outputMessages.push({ topic: \"temp\", payload: snapshot.temp });\n    outputMessages.push({ topic: \"humidity\", payload: snapshot.humidity });\n});\n\nreturn [outputMessages];",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 100,
    "wires": [["chart_node"]]
  },
  {
    "id": "chart_node",
    "type": "ui_chart",
    "z": "flow1",
    "name": "ESP32 Stats",
    "group": "ui_group_fresh",
    "order": 1,
    "width": 12,
    "height": 6,
    "label": "WiFi / BT / Temp / Hum",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Venter på data...",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "60",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#1f77b4", "#ff7f0e", "#2ca02c", "#d62728"],
    "useOldStyle": false,
    "x": 600,
    "y": 100,
    "wires": [[], []]
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Local MQTT",
    "broker": "localhost",
    "port": "1884",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "ui_group_fresh",
    "type": "ui_group",
    "name": "ESP32 Dashboard",
    "tab": "ui_tab_fresh",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_tab_fresh",
    "type": "ui_tab",
    "name": "IoT Monitor",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
